.navbar{margin-bottom:0;}
section{width:100%; float:left;}
.banner-section{background-image:url("https://pbs.twimg.com/media/C2J48xhWgAA1zRC.jpg"); background-size:cover; height: 435px; left: 0; position: absolute; top: 0; background-position:0;}
.post-title-block{padding:90px 0;}
.post-title-block h1 {color:#12B34F; font-size: 55px; font-weight: bold; text-transform: capitalize;}
.post-title-block h2 {color:#12B34F; font-size: 35px; font-weight: bold; text-transform: capitalize;}
.post-title-block li{font-size:20px; color: #000000;}
.image-block{float:left; width:100%; margin-bottom:10px;}
.footer-link{float:left; width:100%; background:#222222; text-align:center; padding:30px;}
.footer-link a{color:#A9FD00; font-size:18px; text-transform:uppercase;}
.margen{margin-top:70px;}

.view-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}
.thumbnail
{
    margin-bottom: 30px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    border: 0;
}
.item.list-group-item .img-event {
    float: left;
    width: 30%;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
    display: inline-block;
}
.item.list-group-item .caption
{
    float: left;
    width: 70%;
    margin: 0;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item:after
{
    clear: both;
}
		/**
		* set padding to make room for bootstrap menu
		*
		*/
		body {
			padding-bottom: 30px;
		}

		/*
		* need to set the height for objects
		* set top padding to make room for selection toolbar
		*/
		div.qvobject, div.qvplaceholder {
			padding: 30px 10px 10px 10px;
			height: 400px;
		}

		.qcmd {
			cursor: pointer;
		}

		#popup {
			background-color: #7f8c8d;
			color: #FFFFFF;
			position: fixed;
			padding: 10px;
			margin: 10px;
			bottom: 0;
			right: 0;
			display: none;
			border-radius: 5px;
		}

		/*
		 * Overrides Bootstrap navbar z-index to avoid conflict with selections bar
		 */
		.navbar-fixed-top {
			position: relative;
			z-index: 100;
		}
    .top{
	     margin-top: -85px;
		 
	}
       